@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: 210 100% 56%;
  --primary-foreground: 0 0% 100%;

  --secondary: 210 20% 96%;
  --secondary-foreground: 210 33% 15%;

  --muted: 210 20% 96%;
  --muted-foreground: 215 16% 47%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --primary: 210 100% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 215 25% 27%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 25% 27%;
    --muted-foreground: 215 20% 65%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
